.circulo {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}

.titulo {
  font-family: 'Roboto Slab', serif;
  font-size: 2.9rem;
  
}

.news {
  position: relative;
  bottom: 60px;
}

